body {
  background-color: #FFCCCC;

}

.slider_container {
  margin: 30px auto;
  width: 700px;
  height: 400px;
  position: absolute;
  border: 20px solid;
  border-color: #fff;
  border-bottom-width: 60px;
  background-color: #f5f5f5;
  box-shadow: #666 0 0 5px;
  top: 200px;
  left: 150px;
  float: left;
}

.slider_container div {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}

.slider_container div {
  -webkit-animation: round 18s linear infinite;
  animation: round 18s linear infinite;
}

@-webkit-keyframes round {
  4% {
    opacity: 1;
    filter: alpha(opacity=100);
    /* 0 - 1秒 淡入*/
  }

  20% {
    opacity: 1;
    filter: alpha(opacity=100);
    /* 1- 5秒靜止*/
  }

  24% {
    opacity: 0;
    filter: alpha(opacity=0);
    /* 5-6秒淡出*/
  }
}

@keyframes round {
  4% {
    opacity: 1;
    filter: alpha(opacity=100);
    /* 0 - 1秒 淡入*/
  }

  20% {
    opacity: 1;
    filter: alpha(opacity=100);
    /* 1- 5秒靜止*/
  }

  24% {
    opacity: 0;
    filter: alpha(opacity=0);
    /* 5-6秒淡出*/
  }
}

.slider_container div:nth-child(6) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.slider_container div:nth-child(5) {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.slider_container div:nth-child(4) {
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
}

.slider_container div:nth-child(3) {
  -webkit-animation-delay: 9s;
  animation-delay: 9s;
}

.slider_container div:nth-child(2) {
  -webkit-animation-delay: 12s;
  animation-delay: 12s;
}

.slider_container div:nth-child(1) {
  -webkit-animation-delay: 15s;
  animation-delay: 15s;
}

.slider_container span {
  color: #000;
  background: #fff;
  position: absolute;
  left: 0%;
  top: 410px;
  width: 0px;
  height: 40px;
  font-size: 22px;
  font-family: "微軟正黑體";
  font-weight: bold;
  line-height: 50px;
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.slider_container:hover span {
  width: 100%;
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
}

.slider_container:hover div {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

.txt1 {
  position: relative;
  top: 105px;
  left: 1120px;
  font-family: "微軟正黑體";
  font-weight: bold;
  font-size: 20px;
  widows: 400px;
}

.smart {
  position: absolute;
  top: 660px;
  left: 120px;

}

.smart:hover {
  transform: scale(1.1);
}

.direction {
  position: absolute;
  top: 750px;
  left: 480px;

}

.direction:hover {
  transform: scale(1.1);
}

.video {
  position: absolute;
  top: 660px;
  left: 880px;
}

.video:hover {
  transform: scale(1.1);
}

.people {
  position: absolute;
  top: 750px;
  left: 1255px;
}

.people:hover {
  transform: scale(1.1);
}

.phone {
  position: absolute;
  top: 660px;
  left: 1630px;
}

.phone:hover {
  transform: scale(1.1);
}

.borderimg {
  position: absolute;
  right: 150px;
  top: 220px;
  z-index: -1;
  width: 740px;
  height: 450px;
}

.home {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 60px;
  height: 60px;
}

.d1 {
  position: relative;
  top: 30px;
  width: 950px;
  height: 550px;
  display: block;

}

.abc {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  position: relative;
  font-family: "微軟正黑體";
  top: 30px;
}

.op {
  font-family: "微軟正黑體";
  font-size: 40px;
  font-weight: bold;
  position: relative;
  left: 420px;
  top: 170px;
}

.opa {
  font-family: "微軟正黑體";
  font-weight: bold;
  font-size: 20px;
  position: relative;
  top: 180px;
  left: 395px;
}

.opd {
  font-family: "微軟正黑體";
  font-size: 20px;
  font-weight: bold;
  position: relative;
  top: 180px;
  left: 375px;

}

.ope {
  font-family: "微軟正黑體";
  font-weight: bold;
  font-size: 20px;
  position: relative;
  top: 180px;
  left: 317px;
}

.opf {
  position: relative;
  top: 140px;
  left: 458px;
}

.opbt {
  font-family: "微軟正黑體";
  position: relative;
  top: 190px;
  left: 302px;
  font-weight: bold;
  font-size: 20px;
  width: 80px;
  height: 35px;
}

.opinion {
  position: absolute;
  top: 100px;
  left: 190px;
  width: 700px;
  height: 800px;
  z-index: -1;
}

.member1 {
  position: absolute;
  top: 110px;
  left: 300px;
  width: 150px;
  height: 150px;
}

.member1name {
  position: absolute;
  top: 110px;
  left: 460px;
  color: rgb(53, 52, 52);
  font-size: 30px;
}

.member1say {
  position: absolute;
  top: 210px;
  left: 460px;
  width: 800px;
  height: 300px;
}

.member1sayword {
  font-size: 25px;
  font-weight: bold;
  font-family: 微軟正黑體;
  position: absolute;
  top: 265px;
  left: 31%;
  width: 600px;
  height: 100px;
}

.member2 {
  position: absolute;
  top: 420px;
  right: 300px;
  width: 150px;
  height: 150px;
}

.member2name {
  position: absolute;
  top: 420px;
  right: 460px;
  color: rgb(53, 52, 52);
  font-size: 30px;
}

.member2say {
  position: absolute;
  top: 520px;
  right: 460px;
  width: 800px;
  height: 300px;
}

.member2sayword {
  font-size: 25px;
  font-weight: bold;
  font-family: 微軟正黑體;
  position: absolute;
  top: 590px;
  right: 31%;
  width: 600px;
  height: 100px;
}

.member3 {
  position: absolute;
  top: 730px;
  left: 300px;
  width: 150px;
  height: 150px;
}

.member3name {
  position: absolute;
  top: 730px;
  left: 460px;
  color: rgb(53, 52, 52);
  font-size: 30px;
}

.member3say {
  position: absolute;
  top: 830px;
  left: 460px;
  width: 800px;
  height: 300px;
}

.member3sayword {
  font-size: 25px;
  font-weight: bold;
  font-family: 微軟正黑體;
  position: absolute;
  top: 890px;
  left: 31%;
  width: 600px;
  height: 100px;
}

.member4 {
  position: absolute;
  top: 1040px;
  right: 300px;
  width: 150px;
  height: 150px;
}

.member4name {
  position: absolute;
  top: 1040px;
  right: 460px;
  color: rgb(53, 52, 52);
  font-size: 30px;
}

.member4say {
  position: absolute;
  top: 1140px;
  right: 460px;
  width: 800px;
  height: 300px;

}

.member4sayword {
  font-size: 25px;
  font-weight: bold;
  font-family: 微軟正黑體;
  position: absolute;
  top: 1195px;
  right: 31%;
  width: 600px;
  height: 100px;
}

.linetop {
  background-color: rgb(2, 2, 53);
  width: 1350px;
  height: 100px;
  position: absolute;
  top: 0%;
  left: 15%;
}

.linetopword {
  color: white;
  font-size: 35px;
  font-weight: bold;
  font-family: "微軟正黑體";
  position: relative;
  top: 24%;
}

.headerDividerright {
  border: black 1px solid;
  height: 1400px;
  position: absolute;
  right: 14.1%;
}

.headerDividerleft {
  border: black 1px solid;
  height: 1400px;
  position: absolute;
  left: 15%;
}

.pen1 {
  position: relative;
  top: -920px;
  left: 90px;
  width: 200px;
  height: 100px;


}




.pen2 {
  position: relative;
  top: -890px;
  left: 80px;
  width: 200px;
  height: 100px;
}

.pen3 {
  position: absolute;
  top: 430px;
  left: 80px;
  width: 200px;
  height: 100px;
}

.pen4 {
  position: relative;
  top: -1350px;
  left: 80px;
  width: 200px;
  height: 100px;
}

.pen5 {
  position: relative;
  top: -1570px;
  left: 80px;
  width: 200px;
  height: 100px;
}

.title2 {
  position: relative;
  top: 10px;
  width: 500px;
  height: 150px;
  display: block;
  margin: auto;
}

.title3 {
  position: relative;
  top: ;
  width: 500px;
  height: 150px;
  display: block;
  margin: auto;
}

.title4 {
  position: relative;
  top: -55px;
  width: 500px;
  height: 150px;
  display: block;
  margin: auto;
}

.fur {
  position: absolute;
  right: 20%;
  top: 10%;
  height: 750px;
  width: 250px;
}

.ink {
  position: absolute;
  top: 60%;
  width: 250px;
  height: 250px;
  left: 48%;
}

.txt2 {
  position: relative;
  font-family: "微軟正黑體";
  font-size: 28px;
  font-weight: bold;
  width: 630px;
  top: -400px;
  left: 1000px;
}

.txt3 {
  position: relative;
  font-family: "微軟正黑體";
  font-size: 28px;
  font-weight: bold;
  width: 630px;
  top: -430px;
  left: 1000px;
}

.e1 {
  position: relative;
  top: 45px;
  left: 330px;
  width: 200px;
  height: 100px;
}

.coverflow {
  width: 550px;
  height: 490px;
  position: relative;
  left: 330px;
  top: 70px;
}

.coverflow>a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  /*當圖片數量增加，影片長度需更改，變為5s*圖片數量*/
  -webkit-animation: silder 15s linear infinite;
  animation: silder 15s linear infinite;
}

.coverflow>a>img {
  max-width: 100%;
}

/*動畫關鍵影格*/
@-webkit-keyframes silder {
  3% {
    opacity: 1;
    filter: alpha(opacity=100);
  }

  27% {
    opacity: 1;
    filter: alpha(opacity=100);
  }

  30% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
}

@keyframes silder {
  3% {
    opacity: 1;
    filter: alpha(opacity=100);
  }

  27% {
    opacity: 1;
    filter: alpha(opacity=100);
  }

  30% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
}

/*每個圖片各延遲5秒*/
.coverflow>a:nth-child(3) {
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
}

.coverflow>a:nth-child(2) {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

.coverflow>a:nth-child(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

/*滑入時停止播放*/
.coverflow:hover>a {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

.videobigword {
  font-weight: bold;
  font-size: 50px;
  font-family: "微軟正黑體";
  position: absolute;
  left: 40%;
  top: 20%;
}

.videosmallword {
  font-weight: bold;
  font-size: 30px;
  font-family: "微軟正黑體";
  position: absolute;
  width: 600px;
  height: 100px;
  top: 30%;
  left: 34%;
}

.video2bigword {
  font-weight: bold;
  font-size: 50px;
  font-family: "微軟正黑體";
  position: absolute;
  left: 45%;
  top: 1000px;
}


.pic {
  width: 500px;
  height: 350px;

}

.pic img {
  transform: scale(1, 1);
  transition: all 1s ease-out;
}

.pic img:hover {
  transform: scale(1.2, 1.2);
}

.ppen1 {
  position: absolute;
  top: 200px;
  left: 90px;
  width: 200px;
  height: 100px;
}

.ppen2 {
  position: absolute;
  top: 300px;
  left: 90px;
  width: 200px;
  height: 100px;
}

.ppen3 {
  position: absolute;
  top: 400px;
  left: 90px;
  width: 200px;
  height: 100px;
}

.ppen4 {
  position: absolute;
  top: 500px;
  left: 90px;
  width: 200px;
  height: 100px;
}

.ppen5 {
  position: absolute;
  top: 600px;
  left: 90px;
  width: 200px;
  height: 100px;
}